---
import "../../public/styles/main.css";
import "../../public/styles/fonts.css";
import Main from "../components/main.jsx";
import "../../public/styles/scroll.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://res.cloudinary.com/dtwrlsxun/image/upload/v1715102918/aot_assets/ul2qfwpxmakc92vbhtl4.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Academy of Technology"/>
		<title>Academy Of Technology</title>
	</head>
	<body class="bg-aot-bone overflow-x-hidden scrollbar-hide">
    <Main client:load />	
  </body>
</html>
