---
import "../../public/styles/main.css";
import "../../public/styles/fonts.css";
import Footer from "../components/footer.jsx";
import Movement from "../components/movement.jsx";
import Companies from "../components/companies.jsx";
import News_bul from "../components/News_bul.jsx";
// import Video from "../components/video.jsx";
import Video from "../components/video.astro";
import AboutCollegeV2 from "../components/aboutCollegeV2.astro";
import Header from "../components/header.jsx";
import Navbar from "../components/Navbar/navbar.jsx";
import Counter from "../components/counter";
import { EventComponent } from "../components/events/eventComponent";
import Footer1 from "../components/footer1";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/assets/aot-logo.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Academy of Technology"/>
		<title>Academy Of Technology</title>
	</head>
	<body class="bg-aot-bone">
		<Header client:load />
		<Navbar client:load />
		<Video />
		<Movement client:load />
		<!--CardWrapper client:load -->
		<EventComponent client:load />
		<AboutCollegeV2 />
		<News_bul client:load />
		<Counter client:load />
		<Companies client:load />
		<Footer1 client:load />
		<!-- <Footer client:load /> -->
	</body>
</html>
