---
import "../../public/styles/main.css";
import "../../public/styles/fonts.css";
import Home from "../components/Home.jsx";
import Footer from "../components/footer.jsx";
import Movement from "../components/movement.jsx";
import Companies from "../components/companies.jsx";
import News_bul from "../components/News_bul.jsx";
import Video from "../components/video.jsx";
import CardWrapper from "../components/Cardwrapper.jsx";
import AboutCollegeV2 from "../components/aboutCollegeV2.astro";
import Header from "../components/header.jsx"
import Navbar from "../components/Navbar/navbar.jsx"
import Counter from "../components/counter";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-aot-bone">
    <Header client:load />
    <Navbar client:load />
		 <Video client:load /> 
		<Movement client:load />
		<!--CardWrapper client:load -->
		<AboutCollegeV2></AboutCollegeV2>
		<News_bul client:load />
		<Counter client:load />
		<Companies client:load />
		<Footer client:load />
	</body>
</html>
