---

---

<div class="bg-[url(../assets/aot2.jpg)] h-screen bg-cover">
    <div
        class="h-[10%] w-full text-center text-white flex justify-center items-center text-xl"
    >
        <h1>AboutCollege</h1>
    </div>
    <div class="flex h-[90%] p-10">
        <div
            class="backdrop-blur-md bg-black bg-opacity-30 text-white overflow-auto w-1/2 p-10 rounded-xl h-[100%]"
        >
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil
            nobis distinctio eaque? Aspernatur sunt odit sint illum impedit
            excepturi a rem minima, eveniet culpa corporis libero necessitatibus
            quas praesentium fuga ratione provident non distinctio recusandae
            molestias veritatis? Quasi dignissimos dolores maxime, vero,
            perferendis expedita blanditiis at facilis rerum illum sint, eos
            recusandae eum nesciunt fugiat consequuntur. Mollitia culpa,
            provident dolore inventore ut necessitatibus rem? Ullam tempore
            dolore sapiente molestias quisquam alias ipsam sequi cum deleniti
            corrupti optio dolorum ab autem rerum suscipit, consequuntur ad
            fugiat voluptates, iure neque natus praesentium dolores repudiandae
            repellat. Dignissimos, similique nostrum aliquam voluptates eveniet
            tempore!
        </div>
        <div class="w-1/2 flex justify-center items-center">
            <div
                class="bg-[url('../assets/aot1.png')] bg-cover border-[5px] border-white w-9/12 h-[75%] rounded-xl"
            >
            </div>
        </div>
    </div>
</div>
