@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for the entire page */
body {

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

