.bg_gallary{
    background-image: url("/assets/aotGallary.jpg");
    background-size: cover;
    background-position: center;
}
.custom-underline {
    position: relative;
    display: inline-block;
  }
  
  .custom-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 100%;
    height: 2px; 
    background-color: #232C69; 
  }