---
import Navbar from '../components/Navbar/navbar.jsx'
import Footer from '../components/footer.jsx'
import Header from '../components/header.jsx'
---

		<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-aot-bone">
  <Header client:load />
  <Navbar client:load/>
  <slot />
  <Footer client:load />
  </body>
  </html>

